BasedOnStyle: LLVM
Standard: Latest
IndentWidth: 2
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: None
SortIncludes: Never
